<% if (theme.addthis.enable) { %>
  <script>
    var addthis_config = {
      'ui_language'          : 'en',
    <% if (theme.google_analytics) { %>
      'data_ga_property'     : '<%= theme.google_analytics %>',
    <% } %>
      'data_track_addressbar': false,
      'data_track_clickback' : true
    };
  </script>
  <div class="addthis addthis_toolbox addthis_default_style">
    <% if (theme.addthis.facebook) { %>
      <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
    <% } %>
    <% if (theme.addthis.twitter) { %>
      <a class="addthis_button_tweet" tw:via="alebelcor"></a>
    <% } %>
    <% if (theme.addthis.google) { %>
      <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
    <% } %>
    <% if (theme.addthis.pinterest) { %>
      <a class="addthis_button_pinterest_pinit" pi:pinit:layout="horizontal"></a>
    <% } %>
  </div>
  <script src="//s7.addthis.com/js/300/addthis_widget.js<% if (theme.addthis.pubid){ %>#pubid=<%= theme.addthis.pubid %><% } %>"></script>
<% } %>
